* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

.flxC {
    display: flex;
    flex-direction: column;
}

.flxR {
    display: flex;
    flex-direction: row;
}

.margin{
    margin: 8% 0px;
}

/* layout */
.outerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerDiv {
    width: 1200px;
}

/* Banner */
.empoBanner {
    background-image: url('Img/who-we-are-bg.2804a3a0\ \(1\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 12% 0px;
}

.empoBanner .flxC {
    gap: 20px;
}

h1.empoHeading {
    font-size: 2rem;
    line-height: 2.2rem;
    width: 55%;
}

p.empoCont {
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 500;
    width: 60%;
}


.img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* accordian  */

.accordianItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

div.question .open svg {
    rotate: 90deg;
    color: #0045e6;
}
div.question .open svg path{
fill: #0045e6;
}
.greater svg{
    font-size: 1.5rem;
    width: 1em;
    height: 1em;
}
.greater svg path{
    fill:#bcbdbf;
}
.accordianItem h2 {
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.accordianItem h2::before {
    content: "";
    transition: 0.5s;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #bcbdbf;
    background-color: #bcbdbf;
    margin-right: 20px;
    flex-shrink: 0;
}


div.question .open h2::before {
    transition: 0.5s;
    border: 1px solid #0045e6;
    background-color: #0045e6;
}

.question {
    padding: 1rem 1.8rem;
}

.accordianAnswer {
    padding: 1rem 1.8rem;
}


@media (max-width:1200px) {
    .innerDiv {
        width: 100%;
        padding: 5%;
    }

    .accordianItem h2 {
        align-items: flex-start;
    }
}

@media (max-width:780px){
    h1.empoHeading,p.empoCont{
        width: 100%;
    }
    .mission .flxR{
        flex-wrap: wrap;
    }
   
}