*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* layout */
.outerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerDiv{
    width: 1124px;
}

@media (max-width:1124px){
    .innerDiv{
        width: 100%;
        padding:5%;
    }
}